@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}
.title {
  position: absolute;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 50px;

  text-shadow: 3px 5px 6px black;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s ease;
}

.btn-close:hover {
  color: rgb(255, 0, 0);
}

.main {
  background-color: #d16ba5;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: opacity 0.4s 0s ease-in-out;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.75);
  -webkit-animation: fade-in-top 1600ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-top 1600ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.pop-fundo {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 999;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.pos {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.in {
  margin-top: 30px;
}
[type="number"] {
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.486);
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.35);
}

[type="button"] {
  margin-right: 10px;
  width: 100px;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.35);

  transition: 0.4s ease-in-out;
}
[type="button"]:hover {
  background-color: black;
  color: white;
}

#resultado {
  font-size: 20px;
  margin-top: 30px;
}
h1 {
  text-transform: uppercase;
}

.botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: white; */
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  margin-left: 50px;
}
button {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: 600;
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: 3px 3px 10px black;
}

button:hover {
  background-color: #ce3b8e;
  transform: scale();
}

.img {
  background-color: #d16ba5;
  width: 600px;
  height: 500px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 3px 3px 10px black;
  transition: 0.5s ease-in-out;
}

.img:hover {
  background-color: #ce3b8e;
  transform: scale(1.01);
}

.sociais {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: white;
  margin-right: 50px;
  z-index: 1;
  cursor: pointer;
}

.fa-brands:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.03);
  color: #d16ba5;
}

.fa-brands {
  margin-bottom: 30px;
}
